* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  img { max-width: 100%; height: auto; }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.app {
  min-height: 100vh;
}